/* some style */

.row > * {
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.main-table, .main-table th, .main-table td {
  border: 1px solid red;
  padding: 5px;
  text-align: center;
}

.main-table thead tr {
  cursor: pointer;
}

.flag div {
  display: inline-block;
  width: 28px;
  height: 17px;
  background-image: url(https://s3-us-west-2.amazonaws.com/reuters.medals-widget/flags.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
